body {
	background-color: #b7d1c4
}

h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #acd1b2;
}
{
	border:1px dashed #3A5FCD;
	}
	
ul{
	text-decoration:none;
	font-family:cursive;
	font-size:10px;
}